.same-cart{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main-same{
    display: flex;
    align-items: center;
    gap: 30px;
}
.same-text{
    padding-top: 20px;
    font-size: 30px;
}
.cl-img{
    width: 100%;
}
.dl-img{
    width: 20%;
}
.sub-item{
    display: flex;
    align-items: center;
    gap: 60px;
}
.btn-checkout{
    border: 1px solid rgb(251, 147, 75);
    background-color: rgb(251, 147, 75);
    color: black;
    font-weight:bolder;
    width: 100%;
    padding: 7px;
    text-align: center;
}
.btn-checkout:hover{
    transition: 0.6s ease;
    background-color: white;
}
.check-head{
    font-size: 20px;
    font-weight: bold;
}
.anchor{
    color: black;
    font-size: 17px;
    font-weight: 500;
}
.item-set{
    display: flex;
    justify-content: space-between;
}
.set-pet{
    line-height:20px;
    display:flex;
    flex-direction:column;
}
.bb{
    display: flex;
    flex-direction: column;
}
.edt{
    display: block;
} 
.adt{
    display: none;
}




@media screen and (max-width:768px){
    .item-set{
        width: 200px;
    }
    .sub-item{
        gap: 20px;
    }
    .anchor{
        font-size: 13px;
    }
}
@media screen and (max-width:650px){
    .set-pet{
        width: 200px;
    }
}
@media screen and (max-width:476px){
    .main-same {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
    }
}