.abc-check{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
  font-size: 35px;
  padding-top: 40px;
}
.form-control {
  display: block;
  width: 300px !important;
}
.main-email{
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
}
form {
  padding-top: 0px !important;
}
.btn-chk{
  background-color: black;
  border-radius: 3px;
  color: white;
  padding: 0px;
  width: 140px;
  height: 35px;
  font-size: 15px;
} 
label {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    margin-left: 10px;
}
.signInB-btn{
  background-color:white;
  border: none;
  text-decoration: underline;
  padding-top: 10px;
}
.paymain{
  margin-top: 10px;
  background-color: #ffc439;
  border-radius: 8px;
  padding: 10px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.paybt{
  width: 60px;
}
.maintalbay{
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-chk{
  width: 85px;
  /* margin: 10px; */
}
.big-chk{
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  height: 320px;
  overflow-y: auto;
}
.main-local{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.acha-local{
  display:flex;
  align-items:center;
  gap: 12px;
}
.pro-chk-main{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.text-local{
  width: 70%;
  font-weight: 600;
}
.bord-ord-sum{
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.sub-chk{
  line-height: 1px;
  padding: 17px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}
.sub-chk1{
  line-height: 5px;
  padding: 25px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}