.hero-img{
    cursor: pointer;
    width: 100%;
    height: 95vh;
    /* object-fit:cover; */
}

@media screen and (max-width:1100px){
    .hero-img {
        height: 83vh;
    }
}
@media screen and (max-width:870px){
    .hero-img {
        padding-top: 10px;
        height: 76.5vh;
    }
}
@media screen and (max-width:540px){
    .hero-img {
        height: 62.5vh;
    }
}