@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .App { */
  /* margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center; */
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
/* } */
.inter-uniquifier {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-abc{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.abc{
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}
.abc-anc{
  color:black;
  font-size:20px;
  text-decoration: none;
}
.abc-anc:hover{
  background-color: black;
  color: white;
}
.NavbarItems {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  align-items: center;
  font-size: 1.2rem;
  /* border-radius: 9px; */
  padding: 0px 20px;
  height: 50px;
  width: 100%;
  /* position: sticky; */
  /* top: 0px; */
  /* left: 50%; */
  transform: translate(0%);
}
/* .logo {
  color: green;
  cursor: pointer;
  justify-self: start;
} */
/* .fa-react {
  padding-right: 2px;
} */
/* .logo:hover {
  padding-left: 10px;
} */
.MenuItems {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  white-space: nowrap;
}
.svg{
  width: 24px;
  height: 26px;
  opacity: .5;
  cursor: pointer;
  transition: opacity .1s ease;
  margin-bottom: 4px;
}
.svg:hover{
  opacity: 1;
}
.nav-links {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links:hover{
  text-decoration: underline;
}
/* .nav-links i {
  padding-right: 10px;
} */
/* .nav-links:hover {
  background-color: turquoise;
  color: black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
} */
.fa-bars,
.fa-times {
  color: white;
  cursor: pointer;
}
.Hamburger-Cross-Icons {
  display: none;
}
.mbl-img{
  display: none;
}
.b-img{
  display: none;
}
@media screen and (max-width: 870px) {
  .mbl-img{
    display: block;
    width: 110px;
  }
  .b-img{
    display: block;
    width: 20px;
    color: black;
    opacity: 1;
  }
  .fa-bars,
  .fa-times {
    color: black;
    font-size: 35px;
  }
  .NavbarItems {
    z-index: 99;
  }
  .NavbarItems {
    justify-content: space-between;
    background-color: transparent;
    transform: translate(0%);
  }
  .MenuItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background-color: rgba(700, 225, 15, 0.55);*/
    /* background-color: white; */
    color: white;
    width: 100%;
    border-radius: 15px;
    height: 90vh;
    backdrop-filter: blur(5px);
    position: absolute;
    align-items: stretch;
    top: 0;
    left: -100%;
    padding: 50px 0 40px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  .MenuItems.active {
    left: 0%;
    top: 10px;
  }
  .nav-links {
    /* display: block; */
    /* width: 100%; */
    height: max-content;
    color: white;
    margin-left: 20px;
    font-size: 22px;
  }
  .Hamburger-Cross-Icons {
    display: block;
  }
  .nav-button {
    padding: 1rem;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .svg{
    display: none;
  }
}
@media screen and (max-width:426px){
  .abc {
    font-size: 12px;
  }
}
